<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Space profile</title>
  </head>
  <body>
    <div class="">
      <h1>
         <%# <%= @space.name %>
        Hello Space
      </h1>
    </div>
    <div class="">
      <p>
        Lorem Ipsum
        <%# <%= @space.description %>
      </p>
    </div>
    <div class="">
      <p>
        £200
        <%# <%= @space.price %>
      </p>
    </div>

    <div class="comments-list">
      Previous comments
      <ul>
          <% @comments.each do |comment| %>
          <li>
            <%= comment[:comment_text] %>
            <%="Made by " + comment[:username]%>
          </li>
          <% end %>
        </ul>
    </div>

    <form class="" action="/create_comment" method="post">
      <label for="">
        Make comment:
        <input type="text" name="content" value="">
        <input type="submit" name="" value="Submit">
      </label>
    </form>

  </body>
</html>
