<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Space profile</title>
  </head>
  <body>
    <div class="spacename">
      <h1>
        <%= @space[:spacename] %>
      </h1>
    </div>
<% if false %>
    <div class="">
      <p>
        <%= @space[:description] %>
      </p>
    </div>
    <div class="">
      <p>
        <%= @space[:price] %>
      </p>
    </div>
<% end %>
  <br>
    <div class="available-dates">
      <p>
        Available Dates
        <ul>
            <% @dates.each do |date| %>
            <li>
              <%= date %>
            </li>
            <% end %>
          </ul>
      </p>
    </div>
    <div class="comments-list">
      Previous comments
      <ul>
          <% @comments.each do |comment| %>
          <li>
            <%= comment[:comment_text] %>
            <%="Made by " + comment[:username]%>
          </li>
          <% end %>
        </ul>
    </div>

    <form class="" action="/create_comment/<%= params['id'] %>" method="post">
      <label for="">
        Make comment:
        <input type="text" name="comment_text" placeholder="Comment here">
        <input type="submit" name="" value="Submit">
      </label>
    </form>
    <br>
    <a href='/spaces'>View spaces</a>


  </body>
</html>
