<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      }

      li {
      display: inline;
      }

      nav  {
      background-color: #FFFFFF;
      width: 100%;
      height: 70px;
      position: relative;
      top:  0px;
      text-align: right;
      }
       body {
      font-family: "Verdana", sans-serif;
       }

       .individual-comment{
         border-left: 10px lightblue;
         border-style: solid;
         background-color: lightgray;
       }

    </style>

    <meta charset="utf-8">
    <title>Space profile</title>
  </head>
  <nav>

    <ul>
      <li><a href='/spaces'>Home</a><li> &nbsp &nbsp
      <li><a href='/create-a-space'>List a space</a></li> &nbsp &nbsp
      <li><a href="requests">Requests</a></li> &nbsp &nbsp
      <li><a href="signout">Sign out</a></li>
    </ul>

  </nav>
  <img src="/modernhouse.jpeg" style="width: 500px; height: 500px; width: 100%">
  <body>
    <div class="spacename">
      <h1>
        <%= @space[:spacename] %>
      </h1>
    </div>
<% if false %>
    <div class="">
      <p>
        <%= @space[:description] %>
      </p>
    </div>
    <div class="">
      <p>
        <%= @space[:price] %>
      </p>
    </div>
<% end %>
    <div class="booking-form">
      <form action="/create_booking/<%= params['id'] %>" method="post">
        <label for="start_date">Start date:</label>
        <input type="date" name="start_date" />
        <label for="end_date">End date:</label>
        <input type="date" name="end_date" />
        <input type="submit" name="" value="Request booking">
      </form>
    </div>

  <br>
    <div class="available-dates">
      <p>
        Available Dates
        <ul>
            <% @dates.each do |date| %>
            <li>
              <%= date %>
            </li>
            <% end %>
          </ul>
      </p>
    </div>

    <div class="">
      <h2>Previous comments</h2>
      <div class="comments-list">
        <ul>
          <% @comments.each do |comment| %>
              <div class="individual-comment">
                <li>
                  <%= comment[:comment_text] %>
                  <br>                  
                  <%="Made by " + comment[:username]%>
                </li>
                <br>
              </div>
          <% end %>
        </ul>
      </div>
    </div>

    <form class="new-comment" action="/create_comment/<%= params['id'] %>" method="post">
      <label for="">
        Make comment:
        <input type="text" name="comment_text" placeholder="Comment here">
        <input type="submit" name="" value="Submit">
      </label>
    </form>
    <br>



  </body>
</html>
